aiopg==0.14.0
aioreloader==0.2.0
aiosocksy==0.1.1
#aiotg==0.9.9
https://github.com/szastupov/aiotg/archive/b3d592a90a670cd162452768ddbd819b1a1a7ab1.zip
alembic==0.9.9
coverage==4.5.1
feedparser==5.2.1
psycopg2-binary==2.7.4
pytz==2018.4
pytest==3.6.1
pytest-asyncio==0.8.0
sqlalchemy==1.2.8
